* {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
}

p {
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
}

h1 {
    padding: 20px;
    font-size: 75px;
    margin-bottom: 50px;
    margin-top: 50px;
    animation: h1Colours 2s infinite;
}

@keyframes h1Colours {
    0% { color: #ff03dd; }
    25% { color: #006eff; }
    50% { color: #03ff74; }
    75% { color: #ff0000; }
    100% { color: #ff03dd; }
}

img {
    max-width: 550px;
    margin-top: 50px;
    border: 5px solid #f38ba000;
    border-radius: 100px;
}

.headingsLarge {
    margin-top: 30px;
    margin-bottom: 30px;
}

.headingsSmall {
    margin-top: 35px;
    margin-bottom: 35px;
    animation: listColours 1s infinite;
}

@keyframes listColours {
    0% { color: #0329ff; }
    50% { color: #ff009d; }
    100% { color: #0329ff; }
}

.lists {
    list-style-position: inside;
    margin-left: 100px;
    margin-right: 100px;
}

#numberList {
    padding-bottom: 70px;
}

li {
    text-align: justify;
    padding-left: 30%;
}

main {
    background-color: #EDF6E5;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}

body {
    background-color: #FFBCBC;
}

footer {
    padding-top: 50px;
}

.footerButtons {
    appearance: button;
}

.topNav {
    background-color: rgba(228, 176, 205, 0);
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 20px;
}

#polka {
    margin-top: 200px;
    max-width: 700px;
    min-width: 700px;
}